bm-editor-split-view {
  background-color: var(--bm-gray-100);
  height: calc(100vh - 2rem);
}

.editor-height {
  height: calc(100vh - 8rem);
}

.gutter {
  background-color: var(--bm-gray-200);
  transition: all .1s;
  border-bottom: 1px solid var(--bm-gray-300);
}

.gutter:hover, .gutter:active {
  background-color: var(--bm-blue-500);
  cursor:col-resize;
}

.gutter.gutter-horizontal {
  background-repeat: no-repeat;
  background-position: center;
}

.controls {
  --gap: 1rem;
  display: inline-flex;
  padding-bottom: var(--gap);
  padding-top: var(--gap);
  height: 4rem;

  width: 100%;
  overflow-x: scroll;
  display: flex;
}

bm-dropdown {
  width: 160px;
}